*{margin: 0;
    padding: 0;
    font-family: Comic Sans MS, Comic Sans, cursive;
    }

/*Estilizando Navbar*/
header{
  width: 100%;
  height: 80px;
  background: #dafff6;
  display: flex;
  align-items: center;
  justify-content: space-between;
padding: 0 20px;
}
.logo{
  font-size: 35px;
  font-weight: bold;
  color: #fefefe;
}
.nav-bar ul li a:hover{
color: #11101b;
background: #fefefe;
}
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Permanent+Marker&family=Roboto&display=swap');
.nav-bar ul li a.active{
  margin-top: auto;
color: black;
  background:#ffffff;
  font-family: "Roboto";
  font-size: 20px;
  color: #ffa32a;
}
.nav-manual .manual-btn, .nav-auto div{
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}
.nav-manual .manual-btn:not(:last-child), 
.nav-auto div:not(:last-child){
  margin-right: 10px;
}

.nav-manual .manual-btn:hover{
  background-color: #050d0f;
}
.hamburguer{
  display: none;
}
.nav-bar ul{
  display: flex;
}

.nav-bar img{ width: 200px;
  height: 50px; }

  .lupa{width: 50px;
  height: 50px;}


.nav-bar ul li a{
  display: block;
  color:#fefefe;
  padding: 10px 25px;
  border-radius: 20px;
  transition: 0.2s;
  margin: 0 40px;

}
.nav-manual{
  position: absolute;
  width: 100%;
  margin-top: 35%;
  display: flex;
  justify-content: center;
}
.nav-manual .manual-btn, .nav-auto div{
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.nav-manual .manual-btn:not(:last-child), 
.nav-auto div:not(:last-child){
  margin-right: 10px;
}

li {
  list-style-type: none;
}
a{list-style-type: none;}


/*Nav bar termina aqui*/

.tx1{padding:3vh ; }

.tx2{ margin:40px  ; }






  
  
  
  
  

 /*Estilizando footer/rodapé*/
 footer {
  height: 30%;
margin-top: 15%;
  background-color: #333;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  background: #ffc67b;
}

/* Estilizando links no rodapé */
footer p {
color: #000000;
}
.Paragrafo{
  font-family: 
}
/* Estilo para o rodapé do autor */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Permanent+Marker&display=swap');
.author {
  font-size: 10px;
}

.hidden {
  display: none;
}


/* Fomulário */

.formulario  .titulo { 

  color: #757575;
  font-size: 1.5em;
  margin-bottom: 10px;
  padding-bottom: 10px;

}

.formulario {
   
  max-width: 1000px;
  margin: auto;
  background: white;
  overflow: hidden;
  padding: 20px;


}

:focus{outline: none;}

.label { 

  float: left; 
  width: 100%; 
  margin-bottom: 25px; 
  position: relative;

}

.input-bordas{
  
  font: 15px/24px "Lato", Arial, sans-serif; 
  color: #333; 
  width: 100%; 
  box-sizing: border-box; 
  letter-spacing: 1px;
  border: 1px solid #ccc; 
  padding: 7px 14px 9px; 
  transition: 0.4s;

}

.textarea { resize:none!important; }

.input-bordas ~ .focus-border:before,
.input-bordas ~ .focus-border:after{content: ""; position: absolute; top: 0; right: 0; width: 0; height: 2px; background-color: #3399FF; transition: 0.2s; transition-delay: 0.2s;}
.input-bordas ~ .focus-border:after{top: auto; bottom: 0; right: auto; left: 0; transition-delay: 0.6s;}
.input-bordas ~ .focus-border i:before,
.input-bordas ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #3399FF; transition: 0.2s;}
.input-bordas ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0; transition-delay: 0.4s;}
.input-bordas:focus ~ .focus-border:before,
.input-bordas:focus ~ .focus-border:after{width: 100%; transition: 0.2s; transition-delay: 0.6s;}
.input-bordas:focus ~ .focus-border:after{transition-delay: 0.2s;}
.input-bordas:focus ~ .focus-border i:before,
.input-bordas:focus ~ .focus-border i:after{height: 100%; transition: 0.2s;}
.input-bordas:focus ~ .focus-border i:after{transition-delay: 0.4s;}


.button-form { 

  background-color: #39f;
  padding: 0.5em 1.3em;
  color: #fff;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.borda-inversa {

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: background;
  transition-property: background;
  box-shadow: inset 0 0 0 2px #39f, 0 0 1px rgba(0, 0, 0, 0);

}

.borda-inversa:hover, .borda-inversa:focus, .borda-inversa:active {
  
  background: none;
  color:#39f; 


  
