*{margin: 0;
    padding: 0;
     font-family: Comic Sans MS, Comic Sans, cursive;}
    
 /*Estilizando Navbar*/
header{
    width: 100%;
    height: 80px;
    background: #dafff6;
    display: flex;
    align-items: center;
    justify-content: space-between;
padding: 0 20px;
}
.logo{
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
}
.nav-bar ul li a:hover{
color: #11101b;
background: #fefefe;
}
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Permanent+Marker&family=Roboto&display=swap');
.nav-bar ul li a.active{
    margin-top: auto;
color: black;
    background:#ffffff;
    font-family: "Roboto";
    font-size: 20px;
    color: #ffa32a;
}
.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}
.nav-manual .manual-btn:not(:last-child), 
.nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #050d0f;
}
.hamburguer{
    display: none;
}
.nav-bar ul{
    display: flex;
}

.nav-bar img{ width: 200px;
    height: 50px; }

    .lupa{width: 50px;
    height: 50px;}


.nav-bar ul li a{
    display: block;
    color:#fefefe;
    padding: 10px 25px;
    border-radius: 20px;
    transition: 0.2s;
    margin: 0 40px;

}
.nav-manual{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}
.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.nav-manual .manual-btn:not(:last-child), 
.nav-auto div:not(:last-child){
    margin-right: 10px;
}
/*Nav bar termina aqui*/        
    .list{text-align: left;
         height: 25%;}
    
    .listntwo h2{ 
        list-style: none;
        display: flex;
        gap: 100px;}

 
        
  .banner img {width: 100%;
            height: 30vh;
            display: flex;}

.tx1{
position: absolute;
text-align: center;
padding: 3vh;
top: 28%;
left: 38%;}
a{text-decoration: none;}
.left-img img{border-radius: 100px;
padding: 30px;}

.tx2{
    position: absolute;
    text-align: center;
    padding: 3vh;
    top: 45%;
    left: 30%;}

    .tx3{padding: 5vh;}

.banner{position: relative;}


.left-img {
margin: 70px;
}


.left-img img{width: 60vh;
height: 200px;
margin: 20px;}


.sobre{display: flex;
}
.padding {display: flex;
padding: 10vh;}

.tx4{padding: 50px;}


 /*Estilizando footer/rodapé*/
 footer {
    height: 30%;
  margin-top: 15%;
    background-color: #333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    background: #ffc67b;
}

/* Estilizando links no rodapé */

footer p {
color: #000000;
}

/* Estilo para o rodapé do autor */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Permanent+Marker&display=swap');
.author {
    font-size: 10px;
}


li {
    list-style-type: none;
  }

  
}


