
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Permanent+Marker&display=swap');
.portugues h1{
    text-align: center;
    font-family: "Agbalumo" ;
    color: rgb(250, 163, 64);
}
.Matemática h1{
text-align: center;
font-family: "Agbalumo" ;
color: yellow;
}
body{
    background-image: url(img/Design\ sem\ nome.jpg);
    margin: 15vh;
}