
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Permanent+Marker&display=swap');
.Portugues h1{
text-align: center;
font-family: "Agbalumo" ;
color: rgb(248, 161, 0);
}
.matematica h1{
text-align: center;
font-family: "Agbalumo" ;
color: rgb(90, 255, 211);
}
body{
  
    margin: 15vh;
}
/*ESTILIZANDO CARDS*/
.card h5{
display: contents;
align-items: center;
width: 20%;
border-radius: 70%;
}
.card-title1{
    color: rgb(255, 242, 0);
    font-family: "Agbalumo";
}
.card-title2{
    color: chartreuse;
    font-family: "Agbalumo"
}
.card-title3{
    color: rgb(255, 0, 0);
    font-family: "Agbalumo"
}
.card2{
    align-items: center;
    margin: 30px;
display: contents;
width: 30%;

}
.card3{
    align-items: center;
display: contents;
align-items: center;
width: 20%;
}
footer {
    height: 30%;
    background-color: #333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    background: bisqu;
}

/* Estilizando links no rodapé */
footer p {
color: #000000;
}