*{margin: 0;
    padding: 0;
    }
    
    a{text-decoration: none;
        color: black;
        transition: 0.3;
        width: 50px;
        height: 50px;
    }
    
    a:hover{opacity: 0.8;}
    
    .navlog{display: flex;}
    
    
    nav{display: flex;
    justify-content: space-around;
    align-items: center;
        background: #7ea9ff;
        font-family:'Gill Sans', 'Gill Sans MT' 'Trebuchet MS', sans-serif;
        max-width: 100%;
        }
        
    .list{text-align: left;
         height: 25%;}
    
    
    .listntwo h2{ 
        list-style: none;
        display: flex;
        gap: 100px;}


.space{height: 10vh;}
.space2{height: 5vh;}
.tx1.{padding: 3vh;}
.tx2{padding: 5vh;}








    main{background-image:url(img/Design\ sem\ nome.jpg);
    background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 100vh;}




  
  .container-slider {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
  }
  
  .slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
  }
  
  .on {
    opacity: 1;
  }
  
  #prev-button, #next-button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  #prev-button img, #next-button img {
    width: 100%;
    height: 100%;
  }
  
  #prev-button {
    transform: rotate(180deg);
  }