/*Estilizando corpo do site*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Comic Sans MS, Comic Sans, cursive;
    box-sizing: border-box;
}
body{
    background: #fefefe;
}
/*Estilizando Navbar*/
header{
    width: 100%;
    height: 80px;
    background: #b9d0fd;
    display: flex;
    align-items: center;
    justify-content: space-between;
padding: 0 20px;
}
.logo{
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
}
.nav-bar ul li a:hover{
color: #11101b;
background: #fefefe;
}
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Permanent+Marker&family=Roboto&display=swap');
.nav-bar ul li a.active{
    margin-top: auto;
color: black;
    background:#ffffff;
    font-family: "Roboto";
    font-size: 20px;
    color: #ffa32a;
}
.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}
.nav-manual .manual-btn:not(:last-child), 
.nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #050d0f;
}
.hamburguer{
    display: none;
}
.nav-bar ul{
    display: flex;
}

.nav-bar img{ width: 200px;
    height: 50px; }

    .lupa{width: 50px;
    height: 50px;}


.nav-bar ul li a{
    display: block;
    color:#fefefe;
    padding: 10px 25px;
    border-radius: 20px;
    transition: 0.2s;
    margin: 0 40px;

}
.nav-manual{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}
.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.nav-manual .manual-btn:not(:last-child), 
.nav-auto div:not(:last-child){
    margin-right: 10px;
}
/*Nav bar termina aqui*/
@media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px){
    header{
        padding: 0 30px;
    }
}
@media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1320px){
    .hamburguer{
        display: block;
        cursor: pointer;
    
    }
}
input{
    border-radius: 80px ;
  border-color: rgb(226, 202, 164) ;
}
/*Estilizando Cards*/
 .card{
    display: block;
    width: 300px;
    height: 500px;
    border-radius: 15px;
    margin-top: 100px;
    background-color: rgb(255, 234, 5);
 }

 .cards-organization {
    display: flex;
    justify-content: center;
 }

 .cards-organization div {
    margin: 50px auto;
 }

 .imagem{
    display: flex;
    justify-content: center;
    border-radius: 15px;
 }
 .tabuada{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 20px;
    
 }
 #searchebar{
    width: 200px;
    height: 30px;
 }
 /*Estilizando as imagens dos cards */
 .card2{
    width: 300px;
    height: 500px;
    border-radius: 15px;
    margin-top: 100px;
    background: #5b79ff;
 }
 .card3{
    width: 300px;
    height: 500px;
    border-radius: 15px;
    margin-top: 100px;
    background:#f765ff;
 }
 
 /*Estilizando footer/rodapé*/
 footer {
    height: 30%;
  margin-top: 15%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    background: #ffaf59;
}

/* Estilizando links no rodapé */
footer p {
color: #ffffff;
}
/* Estilo para o rodapé do autor */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Permanent+Marker&display=swap');
.author {
    font-size: 20px;
    font-family: "Agbalumo";
}
   /*Estilizando carousel*/
section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}
.slider-content{
width: 400%;
height: auto;
display: flex;
}
.slider-content input, .img-mobile{
  display: none;
}
.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
}
.slide-box img{
    width: 100%;
}
.nav-manual .manual-btn:hover{
    background-color: #050d0f;
}

main{background-image:url(img/Design\ sem\ nome.jpg);
    background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 100vh;}


#lupa img{width: 30px;
height: 30px;

}
header{display: flex;}
.carousel-container {
    width: 100%;
    overflow: hidden;
}

.carousel-slide {
    display: none;
    width: 100%;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}